<% if @child.persisted? %>
  <h1>Edit <%= @child.name %></h1>
  <% submit_value = "Submit Changes" %>
  <% user_id_value = @child.user_id %>
  <% url = edit_child_url(@child.id) %>
<% else %>
  <h1> Create a child!</h1>
  <% submit_value = "Submit Child" %>
  <% user_id_value = current_user.id %>
  <% url = children_url %>
<% end %>


<form action="<%= url %> " method="POST">
  <%= csrf_input %>
  <label for="child_name">Name: </label>
  <input type="text" id="child_name" name="child[name]" value="<%= @child.name %>">
  <br>
  <label for="child_description">Description: </label>
  <textarea name="child[description]" id="child_description" rows="8" cols="40"><%= @child.description %></textarea>
  <br>
  <label for="picture_field">Picture: </label>
  <input type="text" id="picture_field" name="child[picture]" value="<%= @child.picture %>">
  <br>
  <input type="hidden" name="child[user_id]" value="<%= user_id_value %>">
  <input type="submit" value="<%= submit_value %>">
</form>
