<% if @child.persisted? %>
  <h1>Edit <%= @child.name %></h1>
  <% submit_value = "Submit Changes" %>
  <% user_id_value = @child.user_id %>
  <% url = child_url(@child.id) %>
  <% method = "patch" %>
<% else %>
  <h1> Create a child!</h1>
  <% submit_value = "Submit Child" %>
  <% user_id_value = current_user.id %>
  <% url = children_url %>
  <% method = "post" %>
<% end %>

<%= form_for :child, :html => {:multipart => true}, :url => url, method: method do |f| %>
  <%= f.hidden_field :user_id, value: user_id_value %>
  <p>
    <%= f.label :name %> <br />
    <%= f.text_field :name %> <br />
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area(:description, cols: 40, rows: 10) %>
  </p>
  <p>
    <% if @child.persisted? %>
      <%= f.hidden_field :picture, value: @child.picture %>
    <% else %>
      <%= f.file_field :picture %>
    <% end %>
  </p>
  <p><%= f.submit %></p>
<% end %>
<% if @child.persisted? %>
  <p><%= link_to "Return to #{@child.name}", child_url(@child), method: :get %></p>
<% end %>

<script type="text/javascript">
  $('#child_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
