<h3>Content: <%= @post.content %></h3>
<h3><%= image_tag @post.picture.url %></h3>
<% if @post.user_id == current_user.id %>
  <p> <%= link_to "Edit post", edit_child_post_url(@post.child_id, @post.id), method: :get %></p>
  <p> <%= link_to "Delete post", post_url(@post.id), method: :delete %></p>
<% end %>

<p><%= link_to "Return to #{@post.child.name}'s posts", child_posts_url(@post.child) %></p>
