<!DOCTYPE html>
<html>
<head>
  <title>LilaFixProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/errors" %>
<% if logged_in? %>
  <%= button_to "Log out", session_url, method: :delete %>
<% end %>
<%= link_to "The Children", children_url, method: :get %>
<%= yield %>

</body>
</html>
